@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<input type="button" class="add" value="新增" />
<table id="users" class="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>餘額</th>
            <th>功能</th>
        </tr>
    </thead>
</table>